adjusttext==1.1.1 ; python_full_version >= "3.10.11" and python_version < "4.0"
click==8.1.7 ; python_full_version >= "3.10.11" and python_version < "4.0"
colorama==0.4.6 ; python_full_version >= "3.10.11" and python_version < "4.0" and platform_system == "Windows"
contourpy==1.2.0 ; python_full_version >= "3.10.11" and python_version < "4.0"
cycler==0.12.1 ; python_full_version >= "3.10.11" and python_version < "4.0"
fonttools==4.50.0 ; python_full_version >= "3.10.11" and python_version < "4.0"
fortranformat==2.0.0 ; python_full_version >= "3.10.11" and python_version < "4.0"
h5py==3.10.0 ; python_full_version >= "3.10.11" and python_version < "4.0"
kiwisolver==1.4.5 ; python_full_version >= "3.10.11" and python_version < "4.0"
latdraw==0.1.1a3 ; python_full_version >= "3.10.11" and python_version < "4.0"
mad8-pandas==1.1.1 ; python_full_version >= "3.10.11" and python_version < "4.0"
matplotlib==3.8.3 ; python_full_version >= "3.10.11" and python_version < "4.0"
numpy==1.26.4 ; python_full_version >= "3.10.11" and python_version < "4.0"
ocelot @ git+https://github.com/ocelot-collab/ocelot.git@c224da415908ff12d25396b6a50364e4f87c3466 ; python_full_version >= "3.10.11" and python_version < "4.0"
packaging==24.0 ; python_full_version >= "3.10.11" and python_version < "4.0"
pandas==2.2.1 ; python_full_version >= "3.10.11" and python_version < "4.0"
pillow==10.2.0 ; python_full_version >= "3.10.11" and python_version < "4.0"
pyparsing==3.1.2 ; python_full_version >= "3.10.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.10.11" and python_version < "4.0"
pytz==2024.1 ; python_full_version >= "3.10.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_full_version >= "3.10.11" and python_version < "4.0"
scipy==1.12.0 ; python_full_version >= "3.10.11" and python_version < "4.0"
six==1.16.0 ; python_full_version >= "3.10.11" and python_version < "4.0"
tfs-pandas==3.7.3 ; python_full_version >= "3.10.11" and python_version < "4.0"
toml==0.10.2 ; python_full_version >= "3.10.11" and python_version < "4.0"
tzdata==2024.1 ; python_full_version >= "3.10.11" and python_version < "4.0"
xlrd==2.0.1 ; python_full_version >= "3.10.11" and python_version < "4.0"
